// BOX MODEL HACK
* {
  box-sizing: border-box;
}

.black {
  color: rgb(59, 59, 59);
}

.penny, .zac {
  //color: rgb(95, 104, 201);
  //color: goldenrod;
  text-decoration: none;
  font-family: 'Benne', serif;
}

.bold {
    font-weight: bolder;
    font-size: 1.5rem;
}

.no-bottom-margin {
  margin-bottom: 0;
}

strong {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.orchid {
  font-size: 3rem;
  color: rgb(128, 0, 81);
}

.centered {
  text-align: center;
}

.flex-box {
  display: flex;
}

.big-font {
  font-size: 1.8rem;

}

.open-sans {
  font-family: 'Open Sans Condensed', sans-serif;
}

.rouge-script {
  font-family: 'Rouge Script', cursive;
}

.plus {
  //color: rgb(255, 190, 24);
  font-size: 2rem;
  padding-left: 3px;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    background-image: url("../images/floral.jpg");
}

header {
  display: flex;
  width: 100%;
  //height: 65px;
  //justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.308);
  position: fixed;
  //top: 0;
  background-color: rgba(255, 255, 255, 1);

  nav {
    width: 100%;
    //position: fixed;
    display: flex;
    justify-content: space-between;
  } 

  .logo-wrapper {
    font-family: 'Benne', serif;
    //font-family: 'Rouge Script', cursive;
    display: flex;
    align-items: center;
    color: black;
    //color: goldenrod;
    //justify-content: flex-start;
    margin-left: 10px;
    width: 40%;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    p {
      margin: 0;
      padding-top: 12px;
    }

  }

  .logo {
    width: 55px;
    padding-bottom: 6px;
  }
  
  ul {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      //position: fixed;
      //right: 0;
      padding: 0;
      //top: 0;
  }
  
  ul a {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center;
      padding: 0 0.3rem;
  }
  
  ul a:hover {
      color: rgb(128, 0, 81);
      font-weight: bold;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggle-btn {
    display: none;
    cursor: pointer;
    margin: 0 5px;
    position: fixed;
    top: 10px;
    right: 10px;
    font-weight: bold;
    line-height: 0.3;
    font-family: 'Rouge Script', cursive;
  }

  .toggle-btn:hover {
    color: rgb(171, 171, 171);
  }

  .open-btn {
    font-size: 1.7rem;
    .line-one, .line-two, .line-three {
      transition: 0.3s;
      transform: rotate(87deg);
    } 
  }

  .close-btn {
    font-size: 1.8rem;
    .line-one {
      transition: 0.3s;
      transform: rotate(135deg);
      margin-top: 9px;
    }
    .line-two {
      transition: 0.3s;
      transform: rotate(45deg);
      margin-top: -8px;
    }
    .line-three {
      display: none;
    } 
  }
}



main {
    margin: 0 auto 0 auto;
    padding-top: 6rem;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1.5px solid rgba(128, 128, 128, 0.2);
    min-height: 100vh;
}


.fancy-font {
  font-family: 'Rouge Script', cursive;
  font-weight: bold;
  margin: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-weight: bold;
  margin: 1rem;
}

h1 {
    font-size: 3rem;
    color: rgb(128, 0, 81);
    font-family: 'Rouge Script', cursive;
    font-weight: bold;
    margin: 1rem;
    //color: slateblue;
    //color: goldenrod;
    //color: royalblue;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h3, h4 {
    color: rgb(59, 59, 59); 
}

h2, h1 {
    margin: 1rem;
}

.penny-and-zac {
  //color: slateblue;
  color: rgb(128, 0, 81);
  //color: black;
  font-size: 2.5rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  max-width: 600px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
  .penny-and-zac {
    flex-direction: column;
    .black {
      font-size: 2rem;
    }
  }
}

.hotel {
  margin: 2rem 0 1rem 0;
  p {
    margin: 0;
  }
}

.date {
    display: flex;
    justify-content: center;
}

.superscript {
    font-size: 1rem;
    margin: 0.2rem 0.3rem 0 -0.1rem;
}

.big {
  font-size: 2rem;
}

.photo-banner {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  figure {
    margin: 0 auto;

    img {
      width: 100%;
      margin: 0;
      padding: 8px;
      border: 6px outset rgba(192, 192, 192, 0.8);
      background-color: rgba(255, 255, 255, 0.486);
    }
  }

  .portrait {
    width: 32%;
  }

  .landscape {
    width: 48%;
  }
  
  
}

.title-banner, .countdown-banner {
    text-align: center;
}

.travel-banner {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

.travel-banner h2, .travel-banner h1 {
    text-align: center;
}

.countdown-banner {
    width: 80%;
    margin: 0 auto;
    color: grey;
    border-top: 3px dotted silver;
    font-size: 2rem;

    article {
      padding-top: 1rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    div {
      padding-right: 10px;
    }
}

#late {
    color: rgb(128, 0, 81);
    animation-name: warning;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes warning {
    // 0% {color: rgb(202, 0, 125)}
    // 25% {color: magenta}
    // 50% {color: rgb(153, 0, 255)}
    // 75% {color: magenta}
    // 100% {color: rgb(202, 0, 125)}
    0% {color: rgb(128, 0, 81)}
    50% {color: rgb(202, 0, 125)}
    100% {color: rgb(128, 0, 81)}
}

// HOTEL PAGE
.booking-btn {
  padding: 10px 20px;
  background-color: white;
  font-size: 1rem;
  color: rgb(128, 0, 81);
}

// RSVP PAGE
.google-btn, .booking-btn {
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(176, 176, 176);
  box-shadow: 0 0 3px 1px rgba(176, 176, 176, 0.2);
}

.google-btn:hover, .booking-btn:hover {
  border: 1px solid rgb(143, 143, 143);
  box-shadow: 0 0 3px 2px rgba(176, 176, 176, 0.4);
  cursor: pointer;
}

.save-the-date {
  font-size: 3rem;

  .superscript {
    font-size: 1.7rem;
  }
}

.contact {
  margin-top: 2rem;
  
  p {
    font-size: 1.3rem;
  }
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;

  span {
    margin-right: 5px;
  }
}

.email:hover {
  color:rgb(128, 0, 81);
}



// FOOTER PAGE
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(125, 125, 125);
  font-size: 1rem;

  p {
    margin-bottom: 0;
  }

  ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  li {
    margin: 5px;
  }

  a {
    text-decoration: none;
    color: white;

  }

  .big-icon {
    font-size: 1.1rem;
  }
}




//iPHONE MEDIA QUERIES 

@media only screen and (max-width: 500px) {
  main {
    max-width: 90%;
    padding-top: 4rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
      font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .penny-and-zac {
    font-size: 2rem;
  }

  .photo-banner .portrait {
    width: 48%;
  }

  .vanish {
    display: none;
  }

  .photo-banner {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 30px;

    figure img {
      width: 100%;
      margin: 0;
      padding: 3px;
      border: 2px solid rgba(192, 192, 192, 0.8);
      background-color: rgba(255, 255, 255, 0.486);
    }
    
    
  }

  .fancy-font {
    font-size: 2rem;
  }

  .save-the-date {
    font-size: 2.3rem;
  
    .superscript {
      font-size: 1.3rem;
    }
  }

  .countdown-banner {
    article {
      flex-direction: column;
      font-size: 1.5rem;
    }
    .countdown-punctuation {
      display: none;
    }
  }

  #late {
    font-size: 2rem;
  }

  .travel-banner {ß

    .big-font {
      font-size: 1.1rem;
      margin: 0;
    }

    .driving {
      margin-bottom: -10px;
    }
  }

  .booking-btn {
    margin: 15px auto;
    padding: 5px 10px;
    height: auto;
  }

  .google-btn {
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(152, 152, 152);
    box-shadow: 0 0 3px 1px rgba(176, 176, 176, 0.4);
  }
  
  .google-btn:hover {
    border: 1px solid rgb(152, 152, 152);
    box-shadow: 0 0 3px 1px rgba(176, 176, 176, 0.4);
  }

  .email {
    color: rgb(128, 0, 81);
    font-size: 1.2rem;
  }

}

// MOBILE NAV MENU
@media screen and (max-width: 500px) {
  nav {
    //padding: 5px 10px;
    //display: block;
    flex-direction: column;

    .close-btn {
      display: block;
    }

    .open-btn {
      display: block;
    }

    .hide-menu {
      display: none;
    }

    ul {
      display: block;
      margin: 0 auto;
      width: 90%;
    }

    .mobile-divider {
      border-top: 1px solid grey;
      padding: 10px 0;
    }

    .logo-wrapper {
      font-size: 2rem;
      margin-left: 10px;
      width: 40%;
      p {
        margin: 0;
        padding-top: 12px;
      }
    }

    .plus {
      font-size: 1.6rem;
    }

    .logo {
      width: 42px;
      padding-bottom: 6px;
    }
  }
}