* {
  box-sizing: border-box;
}
.black {
  color: rgb(59, 59, 59);
}

.penny, .zac {
  //color: rgb(95, 104, 201);
  //color: goldenrod;
  text-decoration: none;
  font-family: 'Benne', serif;
}

.bold {
    font-weight: bolder;
    font-size: 1.5rem;
}

.big-font {
  font-size: 1.8rem;

}

.open-sans {
  font-family: 'Open Sans Condensed', sans-serif;
}

.rouge-script {
  font-family: 'Rouge Script', cursive;
}

.plus {
  //color: rgb(255, 190, 24);
  font-size: 2rem;
  padding-left: 3px;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    background-image: url("../images/floral.jpg");
}

header {
    display: flex;
    width: 100%;
    height: 65px;
    //justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.308);
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 1);

    nav {
      width: 100%;
      position: fixed;
      display: flex;
      justify-content: space-between;
  } 

  .logo-wrapper {
    font-family: 'Benne', serif;
    //font-family: 'Rouge Script', cursive;
    display: flex;
    align-items: center;
    color: black;
    //color: goldenrod;
    //justify-content: flex-start;
    margin-left: 10px;
    width: 40%;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    p {
      margin: 0;
      padding-top: 12px;
    }

  }

  .logo {
    width: 55px;
    padding-bottom: 6px;
  }
  
  .top-nav {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      //position: fixed;
      //right: 0;
      padding: 0;
      //top: 0;
  }
  
  .top-nav a {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center;
      padding: 0 0.3rem;
  }
  
  .top-nav a:hover {
      color: rgb(128, 0, 81);
      font-weight: bold;
  }
}



main {
    margin: 0 auto 0 auto;
    padding: 6rem 0.5rem 3rem 0.5rem;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1.5px solid rgba(128, 128, 128, 0.2);
}


.fancy-font {
  font-family: 'Rouge Script', cursive;
  font-weight: bold;
  margin: 1rem;
}

h3 {
  font-weight: bold;
  margin: 1rem;
}

h1 {
    font-size: 3rem;
    color: rgb(128, 0, 81);
    font-family: 'Rouge Script', cursive;
    font-weight: bold;
    margin: 1rem;
    //color: slateblue;
    //color: goldenrod;
    //color: royalblue;
}

.invited {
  font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h3, h4 {
    color: rgb(59, 59, 59); 
}

h2, h1 {
    margin: 1rem;
}

.penny-and-zac {
  //color: slateblue;
  color: rgb(128, 0, 81);
  //color: black;
  font-size: 2.5rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  max-width: 600px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
  .penny-and-zac {
    flex-direction: column;
    .black {
      font-size: 2rem;
    }
  }
}

.hotel {
  margin: 2rem 0 1rem 0;
  p {
    margin: 0;
  }
}

.date {
    display: flex;
    justify-content: center;
}

.superscript {
    font-size: 1rem;
    margin: 0.2rem 0.3rem 0 -0.1rem;
}

.photo-banner .index-img {
    max-width: 30%;
    height: auto;
    margin: 7px;
    padding: 8px;
    border: 6px outset rgba(192, 192, 192, 0.8);
    background-color: rgba(255, 255, 255, 0.486);
}

.photo-banner .reg-img {
    max-width: 50%;
    height: auto;
    margin: 7px;
    padding: 8px;
    border: 6px outset rgba(192, 192, 192, 0.8);
    background-color: rgba(255, 255, 255, 0.486);
}

.photo-banner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 840px; 
    max-height: 400px;
}

.title-banner, .countdown-banner {
    text-align: center;
}

.travel-banner {
    max-width: 80%;
    margin: 0 auto;
}

.travel-banner h2, .travel-banner h1 {
    text-align: center;
}

.countdown-banner {
    width: 80%;
    margin: 0 auto;
    color: grey;
    border-top: 3px dotted silver;
}

#late {
    color: rgb(128, 0, 81);
    animation-name: warning;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes warning {
    // 0% {color: rgb(202, 0, 125)}
    // 25% {color: magenta}
    // 50% {color: rgb(153, 0, 255)}
    // 75% {color: magenta}
    // 100% {color: rgb(202, 0, 125)}
    0% {color: rgb(128, 0, 81)}
    50% {color: rgb(202, 0, 125)}
    100% {color: rgb(128, 0, 81)}
}


// MOBILE PHONES

@media only screen and (max-width: 400px) {
    main {
      max-width: 90%;
    }

    .top-nav {
      margin-right: 10px;
    }

    h1 {
      font-size: 2.6rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .photo-banner {
        max-height: 380px;
        overflow: hidden;
        flex-wrap: wrap;
        .index-img, .reg-img {
          max-width: 90%;
        }
    }
    
}